/* styles.css */
.tooltip-topleft .tooltip-content {
    bottom: calc(100% + 8px);
    left: 0;
  }
  
  .tooltip-topright .tooltip-content {
    bottom: calc(100% + 8px);
    right: 0;
  }
  
  .tooltip-bottomleft .tooltip-content {
    top: calc(100% + 8px);
    left: 0;
  }
  
  .tooltip-bottomright .tooltip-content {
    top: calc(100% + 8px);
    right: 0;
  }
  